Repository IAlready8/RealMultiLLM: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Create FEATURES.md
  FEATURES.md
Due: prettier --write

Create install.sh
  scripts/install.sh
Due: none

Create pyproject.toml
  pyproject.toml
Due: none

Create .flake8
  .flake8
Due: none

Create ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Create llm_manager.py
  src/core/llm_manager.py
Due: none

Create config.py
  src/core/config.py
Due: none

ADVANCEPILOT-COPILOT: Complete repository infrastructure
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .prettierrc
  Dockerfile.local
  docker-compose.local.yml
  package.json
  scripts/benchmark.js
  scripts/setup.sh
  scripts/validate-env.sh
Due: prettier --write, eslint --fix

Create netlify.toml
  netlify.toml
Due: none

Update requirements.txt
  requirements.txt
Due: none

Update netlify.toml
  netlify.toml
Due: none

Update netlify.toml for proper Next.js deployment
  netlify.toml
Due: none

fix(deps): move tailwindcss to dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(next.config): add webpack alias for @
  next.config.mjs
Due: none

fix(tsconfig): correct path alias to app
  tsconfig.json
Due: prettier --write

fix(comparison): remove typo in import
  app/comparison/page.tsx
Due: prettier --write, eslint --fix

fix(ci): correct frontend and backend test execution
  .github/workflows/ci.yml
  services/persona-service.ts
Due: prettier --write, eslint --fix

fix(ci): resolve all frontend and backend test failures
  package.json
  services/api-client.ts
  services/persona-service.ts
  setup_env.py
  src/core/config.py
  src/core/llm_manager.py
  src/core/llm_manager/manager.py
  test/api/personas.test.ts
  tests/test_llm_manager.py
Due: prettier --write, eslint --fix

fix(deps): add missing radix-ui and next-themes packages
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add missing @radix-ui/react-label package
  package-lock.json
  package.json
Due: prettier --write

fix(ci): rebuild testing infrastructure
  .github/workflows/ci.yml
  test/setup.tsx
  vitest.config.ts
Due: prettier --write, eslint --fix

Create next.config.js
  next.config.js
Due: prettier --write, eslint --fix

Update schema.prisma
  prisma/schema.prisma
Due: none

Update setup.sh
  scripts/setup.sh
Due: none

Create llm-api-client.ts
  lib/llm/llm-api-client.ts
Due: prettier --write, eslint --fix

Create .keep
  .keep
Due: none

Rename lib/llm/llm-api-client.ts to lib/llm-api-client.ts
  lib/llm-api-client.ts
Due: prettier --write, eslint --fix

Update secure-storage.ts
  lib/secure-storage.ts
Due: prettier --write, eslint --fix

Update api-key-form.tsx
  components/api-key-form.tsx
Due: prettier --write, eslint --fix

Update vitest.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

Update setup.tsx
  test/setup.tsx
Due: prettier --write, eslint --fix

Update next.config.js
  next.config.js
Due: prettier --write, eslint --fix

Update prisma.ts
  lib/prisma.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yaml,yml})) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
