Repository IAlready8/RealMultiLLM: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "git add"
  ]
}

Update netlify.toml
  netlify.toml
Due: none

fix(ci): resolve all frontend and backend test failures
  package.json
  services/api-client.ts
  services/persona-service.ts
  setup_env.py
  src/core/config.py
  src/core/llm_manager.py
  src/core/llm_manager/manager.py
  test/api/personas.test.ts
  tests/test_llm_manager.py
Due: prettier --write, eslint --fix

fix(deps): add missing radix-ui and next-themes packages
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add missing @radix-ui/react-label package
  package-lock.json
  package.json
Due: prettier --write

fix(ci): correct frontend and backend test execution
  .github/workflows/ci.yml
  services/persona-service.ts
Due: prettier --write, eslint --fix

Update api-key-form.tsx
  components/api-key-form.tsx
Due: prettier --write, eslint --fix

Update secure-storage.ts
  lib/secure-storage.ts
Due: prettier --write, eslint --fix

Rename lib/llm/llm-api-client.ts to lib/llm-api-client.ts
  lib/llm-api-client.ts
Due: prettier --write, eslint --fix

Update vitest.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

Update next.config.js
  next.config.js
Due: prettier --write, eslint --fix

Update setup.tsx
  test/setup.tsx
Due: prettier --write, eslint --fix

Create next.config.js
  next.config.js
Due: prettier --write, eslint --fix

Update prisma.ts
  lib/prisma.ts
Due: prettier --write, eslint --fix

Create .keep
  .keep
Due: none

Update setup.sh
  scripts/setup.sh
Due: none

Update schema.prisma
  prisma/schema.prisma
Due: none

Create llm-api-client.ts
  lib/llm/llm-api-client.ts
Due: prettier --write, eslint --fix

fix(ci): rebuild testing infrastructure
  .github/workflows/ci.yml
  test/setup.tsx
  vitest.config.ts
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: prettier --write

Create deploy.sh
  scripts/deploy.sh
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update benchmark.js
  scripts/benchmark.js
Due: prettier --write, eslint --fix

Update tsconfig.json
  tsconfig.json
Due: prettier --write

feat: Configure project for local development and fix build issues
  .env
  lib/prisma.ts
  package-lock.json
  package.json
  prisma/dev.db
  prisma/schema.prisma
  tsconfig.json.bak
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

feat(mllm): add Ollama integration, SSR-safe settings via Prisma, provider gating/models discovery, centralized logging, setup script
  app/actions/config-actions.ts
  app/api/llm/chat/route.ts
  app/api/llm/models/route.ts
  app/api/llm/stream/route.ts
  lib/logger.ts
  prisma/schema.prisma
  scripts/setup_multi_llm.sh
  services/api-client.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: updates + remove secrets from repo
  .dockerignore
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  API_KEY_SETUP.md
  CHANGELOG.md
  Dockerfile
  GEMINI.md
  app/actions/analytics-actions.ts
  app/actions/config-actions.ts
  app/actions/llm-actions.ts
  app/analytics/page.tsx
  app/api/llm/chat/route.ts
  app/api/llm/stream/route.ts
  app/auth/signin/page.test.tsx
  app/comparison/page.tsx
  app/goal-hub/page.tsx
  app/multi-chat/page.tsx
  app/personas/page.tsx
  app/pipeline/page.tsx
  app/settings/page.test.tsx
  app/settings/page.tsx
  components/api-key-form.tsx
  components/ui/chart.tsx
  components/ui/use-toast.ts
  lib/secure-storage.ts
  next.config.mjs
  package.json
  prisma/schema.prisma
  services/api-client.ts
  src/core/config.py
  src/core/llm_manager.py
  src/core/llm_manager/manager.py
  test/services/api-client.test.ts
  tests/test_llm_manager.py
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: unstage secrets; add docs & safe code
  .claude/settings.local.json
  .env
  API_KEY_IMPROVEMENTS_SUMMARY.md
  MANUAL_TESTING_GUIDE.md
  PRODUCTION_READY.md
  README.md
  app/api/test-api-key/route.ts
  app/settings/page.tsx
  package-lock.json
  test-api-key.js
  test/integration/api-key-settings.test.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

chore: update .gitignore to exclude secrets
  .gitignore
Due: none

chore: upgrade Prisma to v6 and audit fix
  package-lock.json
  package.json
Due: prettier --write

feat: improve Netlify deploy button positioning in README for better visibility
  README.md
Due: prettier --write

feat: enhance Netlify deploy button implementation and add comprehensive deployment guide
  .env.example
  NETLIFY_DEPLOY_GUIDE.md
  README.md
  netlify.toml
Due: prettier --write

feat: add branch parameter to Netlify status badge
  README.md
Due: prettier --write

docs: add proper Netlify badge placeholder and comprehensive setup guide
  NETLIFY_BADGE_GUIDE.md
  README.md
Due: prettier --write

fix: resolve malformed netlify.toml configuration causing deployment error
  netlify.toml
Due: none

feat: add health check endpoint and deployment status page
  .gitignore
  DEPLOYMENT.md
  README.md
  app/api/health/route.ts
  app/deploy-status/page.tsx
  components/navbar.tsx
  next-env.d.ts
Due: prettier --write, eslint --fix

feat: add Groq and Ollama providers with configurable multi-chat system
  app/api/llm/chat/route.ts
  app/api/llm/models/route.ts
  app/multi-chat/page.tsx
  app/page.tsx
  app/settings/page.tsx
  components/auth-guard.tsx
  lib/auth.ts
  lib/env-validation.ts
  lib/llm-api-client-server.ts
  lib/secure-storage-server.ts
  lib/validation-schemas.ts
  next.config.mjs
  prisma/schema.prisma
  test-api.js
  test-models.js
  test/integration/api-key-settings.test.tsx
Due: prettier --write, eslint --fix

fix: surgically repair all API endpoints and page provider lists
  app/api/test-api-key/route.ts
  app/comparison/page.tsx
Due: prettier --write, eslint --fix
